.homeContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column;
}

/* sm */
.myName {
    font-size: 15vw;
    font-weight: 500;
    margin-top: 5vw;
}

.aboutMe {
    margin-top: 3vw;
}

.aboutMe h3 {
    font-size: 8vw;
}

.aboutMe h4 {
    font-size: 5vw;
}

.homeBanner {
    flex: 1 1 auto;
    display: flex;
    padding: 0;
}

.homeBannerImageAbout {
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

.homeBannerMenu {
    margin-top: 5vw;
    margin-bottom: 3vw;
    text-align: center;
    background-image: url(../assets/banner.PNG);
    background-repeat: no-repeat;
    background-size: 90% 120%;
    background-position: 0 0;
}

.homeBannerMenu h2{
    font-size: 8vw;
    margin-bottom: 1vw;
}

.homeBannerMenu a {
    color: #525252;
    width: 100%;
}

.homeBannerMenu a:hover {
    color: #ff8359;
}

.homeBannerMenuDivider {
    display: none;
}

.topSocialBar {
    float: right;
    width: 100%;
}

.bodySocialBar {
    display: none;
}

.homeAboutSection {
    padding-left: 0;
}

/* md */
@media (min-width:768px) {
    .myName {
        font-size: 7vw;
    }

    .aboutMe {
        margin-top: 0.5vw;
    }

    .aboutMe h3 {
        font-size: 3vw;
    }
    
    .aboutMe h4 {
        font-size: 2.5vw;
    }
    
    .homeBanner {
        padding-left: 10vw;
        padding-right: 10vw;
        align-items: center;
    }

    .homeBannerImageAbout {
        background-image: url(../assets/banner.PNG);
        background-repeat: no-repeat;
        background-size: 90% 80%;
        background-position: 10vw 0;
    }

    .homeBannerImageAbout {
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .homeBannerMenuDivider {
        display: inline;
        color: #525252;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-bottom: 0;
    }

    .homeBannerMenu {
        margin-top: 3vw;
        justify-content: center;
        background-image: none;
    }

    .homeBannerMenu a {
        width: auto;
    }

    .homeBannerMenu h2{
        font-size: 3vw;
    }

    .topSocialBar {
        display: none;
    }

    .bodySocialBar {
        display: inline;
    }

    .homeAboutSection {
        padding-left: 2vw;
    }
}

/* lg */
@media (min-width:992px) {
    .myName {
        font-size: 6vw;
    }

    .aboutMe {
        margin-top: 1vw;
    }

    .aboutMe h3 {
        font-size: 2.3vw;
    }
    
    .aboutMe h4 {
        font-size: 2vw;
    }

    .homeBannerMenu h2{
        font-size: 2.5vw;
    }

    .homeAboutSection {
        padding-left: 3vw;
    }
}

/* xl */
@media (min-width:1200px) {
    .aboutMe h4 {
        font-size: 1.6vw;
    }

    .homeAboutSection {
        padding-left: 0;
    }
}
