.menuItemActive {
    color: Black;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.container {
    position: relative;
}

.boxShadowRight {
    box-shadow: 20px 20px #FFCBAE;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 30px;
}

.boxShadowLeft {
    box-shadow: -20px 20px #FFCBAE;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 30px;
    right: 50px;
   
    opacity: 0;
    transition: .3s ease;
    background-color: black;
}
  
.container:hover .overlay {
    opacity: 0.85;
}

.overlayText {
    color: white;
    font-size: 80px;
    font-family: 'rockness';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.menuImageDefault {
    max-width: 100%;
}

/* sm */
.title {        
    position: absolute;
    top: 10%;
    left: 8%;
    font-size: 15vw;
    margin: 0;
}

.menuImage {
    height: 300px;
    width: 100%;
}

.menuImageHalf {
    height: 300px;
    width: 100%;
}

.itemTitle {
    width: 100%;
    font-size: 70px;
    font-family: 'rockness';
    text-align: center;
    margin-top: '20px';
}

.navText{
    font-size: 3vw;
}

.navbar {
    padding: 0;
    margin-top: 20px;
}

.aboutMe {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
}

/* md */
@media (min-width:768px) {
    .title {        
        top: 10%;
        left: 8%;
        font-size: 12vw;
    }
    
    .menuImage {
        height: 400px;
    }
    
    .menuImageHalf {
        height: 400px;
    }

    .boxShadowRight {
        margin-right: 50px;
        margin-left: 30px;
    }
    
    .boxShadowLeft {
        margin-left: 50px;
        margin-right: 0px;
        margin-top: 0;
    }
    
    .overlay {
        left: 30px;
        right: 50px;
    }
    
    .overlayText {
        font-size: 80px;
    }

    .navbar {
        float: right;
        padding: 0;
        margin-top: -10px;
    }

    .navText{
        font-size: 2vw;
    }
}

/* lg */
@media (min-width:992px) {
    .title {        
        top: 15%;
        font-size: 10vw;
    }

    .menuImage {
        height: 700px;
    }
    
    .menuImageHalf {
        height: 325px;
    }

    .boxShadowRight {
        margin-right: 40px;
        margin-left: 20px;
    }
    
    .boxShadowLeft {
        margin-left: 50px;
        margin-right: 0;
    }

    .homeMenuButtonCol{
        padding-right: 50px;
    }
    
    .overlay {
        left: 20px;
        right: 40px;
    }
    
    .overlayText {
        font-size: 60px;
    }

    .itemTitle {
        width: 0;
        font-size: 0;
        margin: 0;
        padding: 0;
    }

    .aboutMe {
        margin-left: 12%;
        margin-right: 0;
    }
}

/* xl */
@media (min-width:1200px) {
    .title {        
        position: absolute;
        top: 20%;
        left: 8%;
        font-size: 8vw;
        margin: 0; 
    }

    .overlayText {
        font-size: 80px;
    }

    .navText{
        font-size: 1.5vw;
    }
}


@font-face {
	font-family: 'geometosregular';
	src: url('../assets/fonts/geometos_kit/geometos-webfont.woff2') format('woff2'),
	url('../assets/fonts/geometos_kit/geometos-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rockness';
	src: url('../assets/fonts/rockness/Rockness.woff2') format('woff2'),
	url('../assets/fonts/rockness/Rockness.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'toronto';
	src: url('../assets/fonts/toronto/toronto.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
