/* Extra small devices (phones, less than 768px) */
h1 {
	font-size: 50px;
	font-family: 'geometosregular';
}
.grid-item {
	float: left;
	max-width: 100%;
	border: 2px solid #EEE;
	object-fit: contain;
}
.menuitem { 
	display: flex;
	flex-flow: column;
	height: 100%;
	min-height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
}

.menuitemhalf { 
	display: flex;
	flex-flow: row;
	height: 100%;
	min-height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
}

.menuitem:after {
	content: attr(data-content);
	color: white;
	font-size: 40px;
	text-decoration:none;
	font-family: 'geometosregular';
	text-align: center;
	padding-top:27%;
	position: relative;
	width: 100%; height:100%;
	top:0; left:0;
	background:rgba(0,0,0,0.6);
	opacity: 0;
	transition:  1ms;
	-webkit-transition: all 0.4s;
}

.menuitem:hover:after{
	opacity: 1;
}

.menuitemhalf:after {
	content: attr(data-content);
	color: white;
	font-size: 40px;
	text-decoration:none;
	font-family: 'geometosregular';
	text-align: center;
	padding-top:27%;
	position: absolute;
	width: 100%; height:100%;
	top:0; left:0;
	background:rgba(0,0,0,0.6);
	opacity: 0;
	transition:  1ms;
	-webkit-transition: all 0.4s;
}
.menuitemhalf:hover:after{
	opacity: 1;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	h1{
		font-size: 70px;
		font-family: 'geometosregular';
	}
	.grid-item {
		max-width: 100%;
	}
	.menuitem:after {
		font-size: 80px;
		padding-top:12%;
	}
	.menuitemhalf:after {
		font-size: 80px;
		padding-top:12%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	h1{
		font-size: 88px;
		font-family: 'geometosregular';
	}
	.grid-item {
		max-width: 50%;
	}
	.menuitem:after {
		font-size: 50px;
		padding-top:50%;
	}
	.menuitemhalf:after {
		font-size: 34px;
		padding-top:30%;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	h1{
		font-size: 100px;
		font-family: 'geometosregular';
	}

	.grid-item {
		max-width: 50%;
	}
	.menuitem:after {
		font-size: 88px;
		padding-top:27%;
	}
	.menuitemhalf:after {
		font-size: 55px;
		padding-top:18%;
	}
}

.flex-fill {
    flex: 1 1 auto;
}

.thumbnail {
	border: 0 none;
	box-shadow: none;
}

.grid {
	background: #EEE;
	max-width: 1200px;
}
.grid:after {
	content: '';
	display: block;
	clear: both;
}

.page-header {
	padding: 0;
	margin: 0;
	background-image: url('../../src/assets/floral-fabric-pattern1.jpg');
	height: 50px;
}

.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: white;
    color:  #7d0cb2;
}
.nav-pills .pill-1 .nav-link {
    background-color: #7d0cb2;
    color: white;
}
.nav-pills .pill-1 .nav-link:not(.active):hover {
    background-color: #ebe6ed;
}
img {
	max-width: 100%;
	max-height: 100%;
}

body {
	left-margin: 40px;
	right-margin: 40px;
}

@font-face {
	font-family: 'geometosregular';
	src: url('../../src/assets/fonts/geometos_kit/geometos-webfont.woff2') format('woff2'),
	url('../../src/assets/fonts/geometos_kit/geometos-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}